body {
  background-color: #E3CAFD;
}

h1 {
  text-align: center;
  color: #F4FF00;/*FDFCCA;*/
  font-family: "Courier New", Courier;
  font-size: 3em;
  font-weight: 6000;
  text-transform: uppercase; 
}

h2 {
  color: #FFFFBA;
  font-family: Verdana, Georgia;
  font-size: 1.6em;
  font-weight: 6000;
  text-transform: capitalize;
  text-decoration: underline;
}

li {
  color: #FFFFBA;
  font-family: Verdana, Georgia;
  font-size: 1.2em;
}

a {
  color: #7E04FD;
  font-family: cursive, serif;
  font-size: 1.2em;
  text-decoration: none;
}

a:visited {
  color:#B77CF4;
}

a:hover {
  text-transform: uppercase;
  background-color: #FDFCCA;
}

